html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #131313;
  color: #ffffff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3;
}

a, a:visited a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#2fdd8f), to(#88e7bd));
  background: linear-gradient(to right, #2fdd8f, #88e7bd);
  color: #131313;
  font-weight: 400;
  font-size: 0.875rem;
  border: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

button:hover, .button:hover {
  opacity: 0.7;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none !important;
  }
}

/* Displays dropdown list on button click */
.show {
  Display: block;
}

/* set the position of dropdown */
.drop_down {
  position: relative;
  display: inline-block;
}

/* provide css to background of list items */
#dropdown-content {
  display: none;
  position: absolute;
  right: -32px;
  background-color: red;
  min-width: 60px;
  max-width: 100vh;
  height: 100%;
}

/* provide css to list items */
#dropdown-content a {
  display: block;
  font-size: 20px;
  background-color: #ddd;
  color: green;
  text-decoration: none;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.header nav {
  padding: 2.1rem;
  background-color: #000000;
}

.header__logo img {
  max-width: 200px;
}

.header__hamburger > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #f4f4f4;
}

.header__hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__links li {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header__links ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__links ul li:not(:last-child) {
  margin-right: 30px;
}

.header__links ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  min-width: 5rem;
  display: none;
  padding: 5px;
  background-color: rgba(144, 152, 152, 0.24);
  border-radius: 5px;
}

.header__links ul li ul li {
  padding: 5px;
  clear: both;
  width: 100%;
}

.header__links ul li:hover > ul,
.header__links ul li:focus-within > ul,
.header__links ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.header__links a {
  font-size: 0.875rem;
  color: #f4f4f4;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:hover {
  color: #c6c6c6;
}

.cards {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
}

@media (min-width: 59em) {
  .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background: #ececec;
  border-radius: 10px;
  color: #000001;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 300px 1fr auto;
      grid-template-rows: 300px 1fr auto;
}

@media (min-width: 37em) {
  .card {
    -ms-grid-columns: 150px auto;
        grid-template-columns: 150px auto;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
  }
}

@media (min-width: 59em) {
  .card {
    -ms-grid-columns: 150px auto;
        grid-template-columns: 150px auto;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
  }
}

.card__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background: no-repeat center center/cover;
}

@media (min-width: 37em) {
  .card__image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.card__content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 1.5rem;
}

@media (min-width: 37em) {
  .card__content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.card__title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.card__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.card__date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: 0.9rem;
  line-height: 1rem;
  padding-left: 1.5rem;
  padding-bottom: .5rem;
}

@media (min-width: 37em) {
  .card__date {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.footer-container {
  max-height: 125px;
  height: 100%;
  background-color: #0a0a0a;
  color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 0.4em;
}

.footer-container > .img-pth-logo {
  max-width: 100px;
  max-height: 100px;
  padding: 5px;
  margin: 0 25px;
}

.footer-container > .footer-text {
  max-width: 500px;
  width: 100%;
  margin: auto;
  font-size: 1rem;
}
@media (max-width: 36em) {

  .footer-container {
    max-height: 75px;
    margin-top: 20px;
    position: initial;
  }
  .footer-container > .img-pth-logo {
    max-width: 50px;
    max-height: 50px;
    padding: 5px;
    margin: 0 25px;
  }
  
  .footer-container > .footer-text {
    max-width: 400px;
    width: 100%;
    max-height: 60px;
    height: 100%;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
  }
}

#particles-js {
  height: 500px;
  width: 100%;
}

.landing-image {
  position: absolute;
  bottom: 65%;
}

.landing-section {
  height: 47.5vh;
  background-image: url(source/landing-img.png), linear-gradient(to bottom, #3ca54a, #286e31);
  background-repeat: no-repeat, no-repeat;
  background-position: -10% 10%;
  background-blend-mode: soft-light;
}

.custom-shape-divider-bottom-1630063634 {
  position: absolute;
  bottom: 47%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1630063634 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1630063634 .shape-fill {
  fill: #3ca54a;
}
/*# sourceMappingURL=style.css.map */