    /* Displays dropdown list on button click */
    .show {
        Display: block;
      }
      
      /* set the position of dropdown */
      .drop_down {
        position: relative;
        display: inline-block;
      }
      
      /* provide css to background of list items */ 
      #dropdown-content {
        display: none;
        position: absolute;
        right: -32px;
        background-color: rgb(255, 0, 0);
        min-width: 60px;
        max-width: 100vh;
        height: 100%;
      }
      /* provide css to list items */ 
      #dropdown-content a {
         display: block;
         font-size: 20px;
         background-color: #ddd;
         color: green;
         text-decoration: none;
         padding-bottom: 10px;
         padding-right: 10px;
         padding-left: 10px;
         transition: background-color .5s;
      }

.header {

    nav {
        padding: 2.1rem;
        background-color: $black
    }

    &__logo {

        img {
            max-width: 200px;
        }
    }

    &__hamburger {

     > span {
        display: block;
        width: 26px;
        height: 2px;
        background-color: $offWhite;

        &:not(:last-child) {
            margin-bottom: 5px;
            }
        }
    }

    &__links {

        li { 
            transition-duration: 0.5s;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
        }

        ul li {

            &:not(:last-child) {
            margin-right: 30px;
            }
        }

        ul li ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            min-width: 5rem;
            display: none;
            padding: 5px;
            background-color: $lowOpacityGrey;
            border-radius: 5px;
        }

        ul li ul li {
            padding: 5px;
            clear: both;
            width: 100%;
        }

        ul li:hover > ul,
        ul li:focus-within > ul,
        ul li ul:hover {
          visibility: visible;
          opacity: 1;
          display: block;
        }

        a {
            font-size: $font-small;
            color: $offWhite;
            transition: color 200ms ease-in-out;

            &:hover {
                color: $darkWhite;

            }
        }
    }
}